@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Noto+Sans:ital,wght@0,400;1,300;1,500&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/*  VARIABLES  */
:root{
    --font-family: 'Heebo', sans-serif;
    --primary-color: #FF0000;
    --btn-color: #F10F0F;
    --text-color-title: #000;
    --text-color-date: #927E7E;
    --background-footer: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background: #ededed;
}

/*  ESTILOS GENERALES  */

.width-height{
    width: 100%;
    height: auto;
}

.title{
    font-weight: bold;
    color: var(--text-color-title);
}

/*  PORTADA  */

.header{
    width: 100%;
    height: 80vh;
}

.banner{
    width: 100%;
    height: 80vh;
    display: block;
}

.img-port{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}

/*  DESCRIPCIÓN DE LA PUBLICACIÓN*/

.content-article{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.post-article{
    width: 800px;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
}

.post-article-banner{
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}

.img-post-article{
    width: 100%;
}

.post-article-description,
.post-article-date{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-text,
.post-date{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.post-article-date{
    align-items: flex-start;
}

/*  COMENTARIOS  */

.post-article-comment{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    text-align: center;
}

.content-form{
    position: relative;
    --color: #5757577e;
}

.form-input{
    width: 100%;
    font-size: 1rem;
    color: #706c7c;
    padding: .6rem .5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    --color: #3866f2;
}

.input-comment{
    width: 100%;
    height: 200px;
    resize: none;
    margin-top: 1rem;
    outline: none;
    border: 1px solid #000;
}

.content-post-comment{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.btn-comment{
    padding: 10px 25px;
    background: var(--btn-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.post-comments{
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    font-size: .8rem;
}

/*  ACERCA DE  */

.footer{
    display: flex;
    flex-direction: column;
    background: var(--background-footer);
    align-items: center;
}

.social,
.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about-me{
    padding: 10px;
    justify-content: space-around;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #0163E0;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 30px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
    transition-duration: .3s;
}
  /* hover effect on button width */
.Btn:hover {
    width: 160px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}
  /* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 60%;
    transition-duration: .3s;
    padding-right: 5px;
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}

.text-about-me{
    font-size: .9rem;
    color: #fff;
}

/*  RESPONSIVE  */

@media screen and (max-width: 830px) {
    .post-article{
        width: 600px;
    }
}

@media screen and (max-width: 630px) {
    .post-article{
        width: 400px;
    }
}

@media screen and (max-width: 430px) {
    .post-article{
        width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .post-article{
        width: 250px;
    }
}